<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas</title>
    <link rel="stylesheet" type="text/css" href="../css/stylesMenu.css">
</head>
<body>
    <div class="header">
        <div class="encabezado">
            <h1>Bebidas</h1>
            <a href="../index.html"><h6>Volver</h6></a>
        </div>
    </div>

    <div class="row" id="menu">
        <div class="four-column">
            <h1>Coca Cola</h1>
            <img src="../img/bebidas/bebida1.jpg">
        </div>
        <div class="four-column">
            <h1>Vinos</h1>
            <img src="../img/bebidas/bebida2.jpg">
        </div>
        <div class="four-column">
            <h1>Cócteles</h1>
            <img src="../img/bebidas/bebida3.jpg">
        </div>
        <div class="four-column">
            <h1>Agua</h1>
            <img src="../img/bebidas/bebida4.jpg">
        </div>
    </div>
    <div class="row" id="menu">
        <div class="four-column">
            <h1>Café</h1>
            <img src="../img/bebidas/bebida5.jpg">
        </div>
        <div class="four-column">
            <h1>Tequila</h1>
            <img src="../img/bebidas/bebida6.jpg">
        </div>
        <div class="four-column">
            <h1>Pepsi</h1>
            <img src="../img/bebidas/bebida7.jpg">
        </div>
        <div class="four-column">
            <h1>Licores</h1>
            <img src="../img/bebidas/bebida8.jpg">
        </div>
    </div>
    <div class="row" id="contacto">
        <div class="four-column">
            <img src="../img/logo.png">
        </div>
        <div class="four-column">
            <p><strong id="titulo">Encuéntranos</strong></p>
            <p>Gran Via de les Corts Catalanes, 615, 08015 Barcelona</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.043360243211!2d2.169602476911546!3d41.39025840472319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2f20facd207%3A0x7e6d65bdcb8f31e3!2sGran%20Via%20de%20les%20Corts%20Catalanes%2C%20615%2C%2008015%20Barcelona!5e0!3m2!1ses!2ses!4v1667049123670!5m2!1ses!2ses"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="four-column">
            <p><strong id="titulo">A domicilio</strong></p>
            <a target="_blank" href="https://glovoapp.com/"><img src="../img/glovo.jpg"></a>
            <a target="_blank" href="https://www.ubereats.com/es"><img src="../img/ubereats.png"></a>
        </div>
        <div class="four-column">
            <p><strong id="titulo">Contacto</strong></p>
            <p><strong>Local:</strong></p>
            <p>Gran Via de les Corts Catalanes, 615</p>
            <p>08015 Barcelona</p>
            <p><strong>Correo:</strong></p>
            <p>foodtruck@gmail.com</p>
            <p><strong>Teléfono:</strong></p>
            <p>682 66 17 84</p>
        </div>
    </div>
    <br>
</body>
</html>